.header {
    background-color: #f8f9fa;
    box-shadow: var(--light-shadow);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
}
.header--fixed {
    position: fixed;
}
.nav__small-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__collapse {
    display: none;
    flex-direction: column;
    padding: 0.5rem 0;
}
.nav__collapse--show {
    display: flex;
}
.nav__list {
    display: flex;
    flex-direction: column;
}
.nav__item {
    position: relative;
}
.nav__link {
    padding: 0.5rem;
    color: #515050;
    font-size: 1.2rem;
    display: block;
}
.nav__dropdown {
    background-color: white;
    width: 100%;
    padding: 0.3rem;
    border-radius: 0.4rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: none;
}
.nav__dropdown--show {
    display: block;
}
.nav__dropdown-item {
    display: flex;
    align-items: center;
    color: black;
    margin: 0.3rem;
    font-size: 1.1rem;
}
.nav__dropdown-item-flag {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 27%);
    margin-left: 0.4rem;
}
.dropdown-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.nav__link-arrow {
    height: 20px;
    width: 20px;
    background: url("../../public/images/icons.png");
    background-position: 45px -4px;
    margin-right: 0.3rem;
}
.nav__link-btns {
    display: flex;
}
.nav__link-btn {
    padding: 0.5rem 0.75rem;
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 10px;
    margin: 0 0.13rem;
    cursor: pointer;
}
.nav__link-btn::before {
    border-radius: 10px;
}
.nav__link-btn--bordered {
    border: 1px solid #989a9c;
    color: #515050;
    font-size: 1rem;
    display: flex;
    align-items: center;
    background-color: white;
    transition: var(--transition);
}
.nav__link-btn--bordered:hover {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 27%);
}
.nav__link-btn--user {
    height: 25px;
    width: 21px;
    background: url("../../public/images/icons.png");
    margin-left: 4px;
}
.nav__phone-icon {
    height: 20px;
    width: 20px;
    background: url("../../public/images/icons.png");
    /* background-position: 143px 0px; */
    background-position: 118px 2px;
    background-size: 135px 35px;
}
.nav__toggle {
    padding: 0.15rem 0.9rem;
    padding-bottom: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 0.3rem;
}

@media all and (min-width: 992px) {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .medium-screens {
        display: none;
    }
    .nav__collapse {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        padding: 0.6rem;
    }
    .nav__list {
        flex-direction: row;
        align-items: center;
    }
    .nav__dropdown {
        position: absolute;
        top: 125%;
        right: 0;
        width: 21rem;
    }
    .nav__link-btn {
        font-size: 1.1rem;
    }
}
