.search {
    border-top: 1px solid #e9ecef;
    padding: 0.6rem 0;
    margin-bottom: 0.5rem;
}
.search-wrapper {
    padding: 0 0.6rem;
    justify-content: center;
}
.search-input-wrapper {
    margin: 0;
    align-items: center;
    flex-direction: row;
}
.input-wrapper {
    width: 100%;
    margin-left: 1rem;
}
.search-label {
    min-width: auto;
    white-space: nowrap;
    margin-left: 1.6rem !important;
}
.btn-wrapper {
    display: flex;
    justify-content: center;
    margin: 0.8rem 0 0.4rem;
}
.btn-wrapper .btn {
    padding: 0.3rem;
    margin: 0 0.2rem;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media all and (min-width: 768px) {
    .search-row {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .search-row-btn-wrapper {
        display: flex;
        align-items: center;
    }
}

@media all and (min-width: 576px) {
    .btn-wrapper {
        margin: 0;
    }
    .search-col {
        padding-left: 0.6rem;
    }
}
