.dl-btn-wrapper {
    display: flex;
    justify-content: flex-start;
    margin: 1rem 0.5rem;
}
.dl-btn-wrapper .dl-btn {
    padding: 0.1rem;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dl-btn--disabled {
    opacity: 0.7;
}
.dl-btn--disabled:hover {
    cursor: not-allowed;
}
