.discount-btn {
    white-space: nowrap;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin-bottom: 1rem;
}

@media all and (min-width: 768px) {
    .col {
        padding-left: 0.4rem;
    }
    .discount-btn {
        margin-bottom: 0;
    }
}
