.monitoring {
    margin: 2rem 0.6rem 1rem;
    background-color: white;
    box-shadow: 0 0.46875rem 2.1875rem rgb(247 185 36 / 3%),
        0 0.9375rem 1.40625rem rgb(247 185 36 / 3%),
        0 0.25rem 0.53125rem rgb(247 185 36 / 5%),
        0 0.125rem 0.1875rem rgb(247 185 36 / 3%);
    border: 1px solid rgba(32, 39, 140, 0.1);
    border-radius: 0.25rem;
}
.title {
    color: #495057;
    font-size: 1.6rem;
    font-weight: normal;
    margin-right: 0.5rem;
    padding: 0.7rem 0;
}
