.phone-input {
    position: relative;
    width: 170px;
    user-select: none;
}
.phone-input__header {
    width: 100%;
    height: 35px;
    color: #666;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #dcdee2;
    border-radius: 0.25rem;
    width: 100%;
    transition: var(--transition);
}
.phone-input__input-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.phone-input__input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    font-size: 0.9rem !important;
    direction: ltr;
    padding: 0.3rem 0.5rem;
    font: unset;
}
.phone-input__input:not(:valid) {
    border: 2px solid #dd2235;
}
.phone-input__flag-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
    cursor: pointer;
    min-width: 5rem;
    height: 100%;
    border-right: 1px solid #dcdee2;
}
.phone-input__flag-wrapper:hover {
    background-color: rgb(240, 240, 240);
}
.phone-input__icon {
    font-size: 1rem;
    transition: var(--transition);
    display: flex;
}
.phone-input--open .phone-input__icon {
    transform: rotate(180deg);
}
.phone-input__precode {
    font-size: 0.9rem;
    direction: ltr;
    color: #818181;
}
.phone-input__content {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 90;
    transform: scaleY(0);
    opacity: 0;
    transform-origin: center top;
    transition: var(--transition);
    border: 1px solid #dcdee2;
    background-color: white;
}
.top {
    bottom: 35px;
    transform-origin: center bottom;
    border-bottom: none;
}
.bottom {
    top: 35px;
    transform-origin: center top;
    border-top: none;
}
.phone-input--open .phone-input__content {
    transform: scaleY(1);
    opacity: 1;
}
.phone-input__content-search {
    display: flex;
    padding: 0.5rem 0.5rem 0.4rem;
}
.phone-input__content-search input {
    border: 1px solid #dcdee2;
    height: 1.9rem;
    width: 100%;
    padding: 0.4rem 0.5rem;
    outline: none;
    border-radius: 0.25rem;
    font-family: var(--ff-primary);
    font-size: 0.9rem;
}
.phone-input__content-search input:focus {
    border-color: #712be5;
}
.phone-input__content-search input::placeholder {
    font-size: 0.8rem;
}
.phone-input__content-list {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}
.phone-input__content-list::-webkit-scrollbar {
    background-color: #dcdee2;
    width: 0.4rem;
    border-radius: 0.3rem;
}
.phone-input__content-list::-webkit-scrollbar-thumb {
    background-color: #712be5;
    border-radius: 0.3rem;
}
.phone-input__content-item {
    transition: var(--transition);
    color: #666;
    text-align: right;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.phone-input__content-item:not(.phone-input__content-item--disabled):hover {
    background-color: rgb(235, 235, 235);
}
.phone-input__content-item--disabled,
.phone-input__content-item--disabled .phone-input__code {
    cursor: not-allowed;
    color: #dedede;
}
.phone-input__code {
    direction: ltr;
    display: flex;
    margin-left: 0.5rem;
    color: grey;
    font-size: 0.9rem;
}
.phone-input__content-flag {
    height: 1rem;
    width: 1.5rem;
}
