.profile {
    margin: 1rem 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media all and (min-width: 992px) {
    .profile {
        flex-direction: row;
    }
}
