.search {
    border-top: 1px solid #e9ecef;
    padding: 0.6rem 0;
    margin-bottom: 0.5rem;
}
.search-wrapper {
    padding: 0 0.6rem;
}
.search-row {
    margin: 0.4rem 0 0.8rem;
}
.search-col {
    padding-left: 0.4rem;
}
.search-input-wrapper {
    margin: 0;
}
.btn-wrapper {
    display: flex;
    justify-content: center;
}
.btn-wrapper .btn {
    width: 100px;
    margin: 0 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    margin: 0.7rem 0 2rem;
    display: flex;
    padding: 0 0.7rem;
}
.card__box {
    width: 100%;
    color: #495057;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: rgb(249, 249, 249);
    box-shadow: 0 0.46875rem 2.1875rem rgba(0, 0, 0, 0.03),
        0 0.9375rem 1.40625rem rgba(0, 0, 0, 0.03),
        0 0.25rem 0.53125rem rgba(0, 0, 0, 0.03),
        0 0.125rem 0.1875rem rgba(0, 0, 0, 0.03);
    border-radius: 0.25rem;
}
.card__title {
    margin-left: 1rem;
}
.card__number {
    color: #712be5;
}

@media all and (min-width: 768px) {
    .search-row {
        align-items: center;
        flex-direction: row;
    }
    .search-label {
        min-width: 85px;
        max-width: 85px;
    }
    .search-row-btn-wrapper {
        display: flex;
        align-items: center;
    }
}
