.wrapper {
    width: 100%;
}
.steps {
    width: 100%;
    margin-bottom: 0.8rem;
    padding-bottom: 0.4rem;
    display: flex;
    flex-direction: row;
    overflow: auto;
}
.steps::-webkit-scrollbar {
    background-color: #eee;
    height: 0.4rem;
}
.steps::-webkit-scrollbar-thumb {
    background-color: #4a00e0;
}
.step {
    display: flex;
    justify-content: center;
}
.step button {
    width: 100%;
    background-color: rgb(250, 250, 250);
    cursor: pointer;
    transition: var(--transition);
    text-align: center;
    padding: 0.5rem;
    color: #333;
    font-size: 1rem;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    white-space: nowrap;
}
.step button:hover,
.step--active button {
    background-color: #eee !important;
}

@media all and (min-width: 992px) {
    .wrapper {
        padding-left: 0.8rem;
    }
    .steps {
        margin-bottom: 0;
        padding-bottom: 0;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        overflow: hidden;
        flex-direction: column;
    }
    .step button {
        border-radius: 0;
        margin-left: 0;
        white-space: normal;
    }
}
