/* General Styles for Breadcrumbs */
.MuiBreadcrumbs-root,
.MuiBreadcrumbs-ol,
.MuiBreadcrumbs-li,
.MuiBreadcrumbs-li p {
    font: unset !important;
    font-family: var(--ff-primary) !important;
}
.MuiBreadcrumbs-separator {
    color: #712be5;
}

/* General Styles for Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to left, #707070, #b1b1b1);
    transition: var(--transition);
    border-radius: 34px;
}
.switch-slider:before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 3px;
    top: 3px;
    background-color: white;
    transition: var(--transition);
    border-radius: 50%;
}
input:checked + .switch-slider {
    background-image: linear-gradient(to left, #712be5, #9065d8);
}
input:focus + .switch-slider {
    box-shadow: 0 0 1px #712be5;
}
input:checked + .switch-slider:before {
    transform: translateX(20px);
}

/* General Styles for Radio Button */
.radio-wrapper {
    display: flex;
    align-items: center;
}
.radio-item {
    margin-right: 0.4rem;
    position: relative;
}
.radio-item input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.radio-item label {
    border: 2px solid #939393;
    border-radius: 7px;
    width: 100%;
    padding: 0 5px;
    text-align: center;
    font-size: 0.9rem;
    color: #939393;
}
.radio-item input:checked + label {
    border: 2px solid #712be5;
    color: #712be5;
}

/* General Styles for Select Option */
select {
    outline: none;
    border-radius: 0.4rem;
    color: #939393;
    font-family: inherit;
    font-size: 0.9rem;
    width: 7.5rem;
    box-shadow: 0 3px 8px 0 rgb(39 39 39 / 16%);
}
select.fullwidth {
    width: 100%;
    border: none;
    border-bottom: 1px solid #707070;
    color: #707070;
    border-radius: 0;
    box-shadow: none;
    padding: 0.5rem 0rem;
    font-size: 1rem;
    appearance: none;
    background: url("../public/images/arrow-left.png") no-repeat left;
    background-position-x: 0.7rem;
}
select.shortwidth {
    width: 5.8rem;
}

.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.d-column {
    flex-direction: column;
}
.d-row-r {
    flex-direction: row-reverse;
}
.justify-between {
    justify-content: space-between;
}
.f-wrap {
    flex-wrap: wrap;
}

.hidden-xs {
    display: none !important;
}
.flex-xs {
    display: flex !important;
}
.block-xs {
    display: block !important;
}

.d-none {
    display: none !important;
}

.modal__wrapper {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}
.modal__title {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
}
.modal__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}
.modal__item:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.modal__item-title {
    font-weight: bold;
    font-size: 0.95rem;
    min-width: 80px;
    display: block;
    text-align: right;
}
.modal__item-body {
    font-size: 0.9rem;
    color: #444;
    text-align: justify;
    margin-right: 0.5rem;
}

.whatsapp-icon {
    color: #28a745;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
}
.whatsapp-icon span {
    display: flex;
}

.info-icon {
    color: #007bff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
}

.tooltip {
    font-size: 0.8rem !important;
}

/* SunEditor Toolbar */
.sun-editor .se-toolbar {
    z-index: 1200000 !important;
}

@media (min-width: 576px) {
    .hidden-sm {
        display: none !important;
    }
    .flex-sm {
        display: flex !important;
    }
    .block-sm {
        display: block !important;
    }

    .modal__item-title {
        min-width: 125px;
    }
}
@media (min-width: 768px) {
    .hidden-md {
        display: none !important;
    }
    .flex-md {
        display: flex !important;
    }
    .block-md {
        display: block !important;
    }
}
@media (min-width: 992px) {
    .hidden-lg {
        display: none !important;
    }
    .flex-lg {
        display: flex !important;
    }
    .block-lg {
        display: block !important;
    }
}
@media (min-width: 1200px) {
    .hidden-xl {
        display: none !important;
    }
    .flex-xl {
        display: flex !important;
    }
    .block-xl {
        display: block !important;
    }
}
